body {
    padding: 30px;
    padding-top: 15px;
    background-color: rgb(20, 2, 20);
}

* {
    color: rgb(14, 189, 216);
}

footer {
    background-color: rgb(134, 14, 74);
    color: rgb(0, 0, 0);
    padding: 15px;
}

h1 {
    font-family: 'Silkscreen';
    color: rgb(245, 46, 179);
    font-size: x-large;
}

h2 {
    font-family: 'Silkscreen';
    color: rgb(245, 46, 179);
    font-size: larger;
}

.page-name-title {
    margin: auto;
    width: 50%;
    text-align: center;
}

section {
    margin: 10px;
    padding: 5px;
}

.experience {
    display: block;
    background-color: rgb(6, 22, 60);
}

.skills {
    display: block;
    background-color: rgb(235, 219, 43);
}

.connecting {
    display: block;
    background-color: rgb(6, 22, 60);
}

.contact {
    display: block;
    background-color: rgb(235, 219, 43);
}

.messages {
    display: block;
    background-color: rgb(6, 22, 60);
}

button {
    background-color: rgb(245, 46, 179);
    border-radius: 15px;
    border-width: 3px;
    border-color: rgb(20, 2, 20);
    color: rgb(20, 2, 20);
    padding: 5px;
    margin: 5px;
}

button:hover {
    background-color: rgb(20, 2, 20);
    color: rgb(245, 46, 179);
    border-color: rgb(245, 46, 179);
}

.remove_button {
    background-color: rgb(14, 189, 216);
    color: rgb(0, 0, 0);
    border-color: rgb(245, 46, 179);

}

.edit_button {
    background-color: rgb(235, 219, 43);
    color: rgb(0, 0, 0);
    border-color: rgb(245, 46, 179);
}
