body {
    margin-top: 60px;
    padding: 30px;
    padding-top: 15px;
    background-color: rgb(20, 2, 20);
}

* {
    color: rgb(14, 189, 216);
}

footer {
    background-color: rgb(113, 44, 94);
    color: rgb(0, 0, 0);
    padding: 15px;
}

ul.navbar {
    list-style-type: none;
    margin: -60px 0px 0px 0px;
    padding: 0;
    overflow: hidden;
    display: block;
    background-color: rgb(113, 44, 94);
    width: 100%;
    position: fixed;
}

li.navbar, a.navbar {
    display: inline-block;
    padding: 10px;
    width: 10%;
}

a.navbar {
    background-color: rgb(94, 18, 72);
    align-items: center;
}

li.navbar {
    background-color: inherit;
}

a.navbar:hover {
    background-color:rgb(6, 22, 60)
}

a.navbar:active {
    background-color:rgb(113, 44, 94);
    color: rgb(20, 2, 20);
}

h1 {
    font-family: 'Silkscreen';
    color: rgb(245, 46, 179);
    font-size: x-large;
}

h2 {
    font-family: 'Silkscreen';
    color: rgb(245, 46, 179);
    font-size: larger;
}

.home {
    margin: auto;
    width: 50%;
    text-align: center;
}

section {
    margin: 10px;
    padding: 5px;
}

.about {
    display: block;
    background-color: rgb(235, 219, 43);
}

.experience {
    display: flex;
    flex-direction: row;
    margin: 5px 1px 10px 10px;
    background-color: rgb(6, 22, 60);
}

div.experience_li {
    border: dashed;
    border-color: rgb(235, 219, 43);
    border-width: 1px;
}

.skills {
    display: block;
    background-color: rgb(235, 219, 43);
}

.connecting {
    display: block;
    background-color: rgb(6, 22, 60);
}

.contact {
    display: block;
    background-color: rgb(235, 219, 43);
}

.messages {
    display: block;
    background-color: rgb(6, 22, 60);
}

button {
    background-color: rgb(245, 46, 179);
    border-radius: 15px;
    border-width: 3px;
    border-color: rgb(20, 2, 20);
    color: rgb(20, 2, 20);
    padding: 5px;
    margin: 5px;
}

button:hover {
    background-color: rgb(20, 2, 20);
    color: rgb(245, 46, 179);
    border-color: rgb(245, 46, 179);
}

.remove_button {
    background-color: rgb(14, 189, 216);
    color: rgb(0, 0, 0);
    border-color: rgb(245, 46, 179);

}

.edit_button {
    background-color: rgb(235, 219, 43);
    color: rgb(0, 0, 0);
    border-color: rgb(245, 46, 179);
}